{% extends "skeleton/_root.html" %}

{% block all %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{%  block title %}{% block extra_title %}{% endblock %}{{ page.title|safe }} / {{ site.name }} {% endblock %}</title>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23486467-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    {% block feeds %}{% endblock %}

    {% block css %}
        <!-- Framework CSS -->
        <link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="/media/css/app.css" type="text/css" media="screen, projection">
    {% endblock %}
    <link href="{{ site.full_url }}/blog/atom.xml" rel="alternate" title="Feed / {{ site.name }}" type="application/atom+xml">

    <link href="/media/favicon.gif" rel="icon" type="image/x-icon" />
  </head>
  <body>

  <a href="https://github.com/kachayev/codemehanika.org" target="_blank">
    <img
      style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://d3nwyuy0nl342s.cloudfront.net/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
      alt="Fork me on GitHub"
    />
  </a>

    <div class="container showgrid {% block container_class %}{% endblock %}">
        {% block container %}{% endblock %}
    </div>
  </body>

    {% block js %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        {% block additional_js %}{% endblock %}
    {% endblock %}
</html>
{% endblock %}

