<div class="contacts">
    {% block additional_contacts %}{% endblock %}

    <h3>Алексей Качаев</h3>
    <p>Главный механик<br />
               Энергичный программист-фанатик<br />
        Senoir PHP Developer<br />
        Zend Framework Contributor<br />
                Верю в TDD и Domain-Driven Design<br />
                Искренне люблю Python, CoffeeScript и Git</p>

    <h3>Контакты</h3>
    <p>kachayev#gmail.com<br />
       <a href="http://twitter.com/kachayev">@kachayev</a><br />
       <a href="http://github.com/kachayev">Code on Github</a><br />
       <a href="http://linkedin.com/kachayev">LinkedIn profile</a><br />
       <a href="http://www.facebook.com/kachayev">Facebook</a></p>
</div>

