<div class="contacts">
    <h3>Страницы</h3>
    <p>
      <a href="/">Главная</a><br />
      <a href="/about.html">Обо мне</a><br />
      <a href="/blog/">Статьи</a><br />
      <a href="#" title="This page is under construction">Проекты</a><br />
      <a href="http://feeds.feedburner.com/codemehanika" target="_blank">RSS</a>
    </p>
    <!--
    <h3>Updates</h3>
    <p>
      <a href="http://feeds.feedburner.com/codemehanika">
        <img
          src="http://feeds.feedburner.com/~fc/codemehanika?bg=99CCFF&amp;fg=444444&amp;anim=0"
          height="26" width="88" style="border:0" alt=""
        />
      </a>
    </p>
    -->
</div>

