{% extends '_post.html' %}

{% hyde
    title: Несколько советов тем, кто переходит на DDD
    created: 2011-06-08
    published: True
    categories: Практика DDD
    display_in_list: True
    snip: DDD достаточно модная на сегодняшний день парадигма проектирования и многие разработчики (и целые проекты), проанализировав все "За" и "Против", решают "перейти на DDD". Мне часто приходится общатся с коллегами по цеху на различные DDD-шные темы, как в личной переписке, так и, например, на форуме zendframework.ru/forum. В этой заметке я постралася собрать все то, что зачастую "мешает" полностью погрузится в DDD (со всеми вытекающими).
%}

{% block article %}
### Переходите на новую парадигму?

Будьте готовы к тому, что многое придется делать не так, как вы раньше делали. И в первую очередь, придется **думать** не так, как раньше. По началу это, действительно, кажется очевидным. Но я реально каждый день слышу "... но я ведь делал так раньше", "... я всегда так писал", "... раньше у меня так работало".

Такое часто бывает у студентов, которым сначала показывают, что такое функция, а потом, - что такое класс. Не объясняя при этом, в чем же разница между функциональным и объектным программированием. Из этого ничего хорошего не получается - чаще всего студент продолжает писать свой код на функциях, просто вызывая их как методы некоторого класса (обычно - одного).

Решили, что переходите на новую парадигму, - значит открывайте свой разум для новых приключений. Как бы философски это не звучало.

### DDD это сложно

Реально сложно. И придуман он для сложных систем. Поэтому характеристика "проще"/"легче" не самый лучший критерий при анализе кода. Не бойтесь разрастания количества объектов/классов/понятий. Сделаете что-то лишнее, оно в последствии "отвалится". И хоть ваша конечная цель - сделать модель как можно более простой, путь к этому упрощению обычно тернист.

### Моделируйте, моделируйте, моделируйте

**Модель первична.**

Я специально написал предыдущее предложение в отдельном абзаце. Прочитайте его несколько раз и хорошо запомните. Вспоминайте каждый раз, когда садитесь писать код. Вспоминайте об этом каждый раз, когда вводите новую переменную, создаете новый класс, делаете таблицу в базе данных или переименовываете метод  в классе.

Любая проблема должна формулироваться сначала на языке модели. Использование специальных конструкций в коде не означает DDD. Думаете, что для внедрения DDD нужно сделать себе Репозиторий, Сущность и Фабрику для Сущности? А потом написать для оперирования с этим сервисы? Ничего подобного. Сначала нужно описать ваши задачи в модели, выделить понятия, смоделировать жизненный цикл этих понятий и связи между ними. И т.д. А уже потом переносить это в код.

**Вы моделируете домен, а не домен вас.** Дистилируйте суть до тех пор, пока с этой сутью не станет удобно работать. Помните, что поверхностные знания о модели опасны именно тем, что они поверхностны (вообще, помните о том, что на поверхности плавает то, что не тонет). Копайте глубже. Доставайте всё неявное и делайте его явным. Повторяйте итеративно. Формулируйте бизнес логику в явных понятиях. Если не получается - не нужно говорить, что логика слишком сложна для этого, или домен не моделируется, или ... Ищите то, что вы упустили в анализе модели.

### Модель на код, а не код на модель

Модель ложиться на код, а не код описывается в модели (это предложение тоже перечитайте несколько раз). Если код начинает путаться и "ломаться" ("дурно пахнуть"), вернитесь к модели - скорее всего вы что-то упустили. Проблемы в коде можно только визуально устранить какими-то супер методами организации самого кода. Проблему нужно атаковать под корень, в будущем она все равно не даст вам спокойно жить. Рефакторите свои модели нещадно, уничтожайте старое не жалея и не бойте пробовать по нескольку вариантов - пока все не станет простым и понятным как дверь. Не зацикливайтесь на одном варианте и не бойтесь экспериментировать. Итерируйте:

Домен -> Модель -> Код -> Модель -> Код -> ...

Не готовы к постоянному рефакторингу? - Подумайте тогда тысячу раз, а нужен ли вам DDD. Готовы? - Начните с написания тестов. Кстати, про тесты, - они не только ваша опора при рефакторинге, но еще и отличный стресс-тест прозрачности и понятности вашей модели.

В общем, дерзайте!
{% endblock %}

