{% extends '_post.html' %}

{% hyde
    title: "Механика кода: обзор будущих публикаций"
    created: 2011-04-20
    snip: "Вместо вступительного слова. Обзор будущих публикаций и тех тем, которые будут подниматься мной чаще всего."
    published: True
%}

{% block article %}
Категорически вас приветствую. Меня зовут Алексей Качаев, и в данный момент я работаю в компании Cogniance Inc. на позиции Senior PHP Developer'а (более подробную информацию вы найдете здесь). За последнее время у меня накопилось достаточно много интересных материалов, которые я буду периодически оформлять небольшими статьями на этом ресурсе.

### О чем пойдет речь

1. Zend Framework. С этим php-фреймворком я работаю большую часть времени, поэтому могу рассказывать часами о его внутренностях, хитростях, тонкостях и т.д. Помимо этого, как контрибьютор, буду периодически рассказывать о том, что твориться в стане zf team и как продвигается разработка второй версии фреймворка.

2. Архитектура. По большей части DDD (и TDD). Как наиболее современные и наиболее близкие мне подходы в создании архитектуры информационных систем. По DDD накопилось достаточно много кейсов: проблемы, пути их решения и преодоленные (или не очень) подводные камни - буду стараться излагать их понятным языком и с понятными примерами.

3. Code perfectum. Это будет отдельный раздел, я сюда буду собирать свой опыт по наведению порядка в коде: рефакторинг, вычистка, читабельность, реюзабельность и т.д.

4. Работа приложений в облачном окружении. Имею большой опыт по проектиованию и администрированию реального приложения на Amazon EC2 + EBS + Amazon S3. Немного расскажу о Google App Engine.

5. PHP, Python. О языках программирования не часто найдется что рассказать интересного (потому что большая часть уже покрыта справочниками и доками, которые я ни в коем случае пересказывать не собираюсь), но тем не менее - иногда попадаюсь интересные вещи, коими охота поделиться.

6. Ubuntu и все, что с ним связано. Использую не только на серверах, но и у себя на всех компьютерах (и на работе, и дома). Поэтому есть что рассказать. Также буду выкладывать заметки по работе с инфраструктурными элементами веб-приложений: веб-серверами, кеш-серверами, key-value базами, документо-ориентированными nosql, утилитами мониторинга, системами контроля версий, средствами автоматизации деплоя и т.д.

7. Django. Просто потому, что она мне нравится.

8. AI. Еще одна сфера моих интересов. Как в плане теоретических исследований, так и в применении подходов в практике (game dev в частности).

9. Обзор технической и околотехнической литературы, которую я читаю. А читаю я много, поэтому материалов по этому направлению тоже будет не мало.

10. Размышления, мысли, рассуждения и идеи. Ну, это по настроению.

Вроде ничего не забыл. До встречи в режиме отладки!
{% endblock %}

