{% extends '_post.html' %}

{% hyde
    title: Особенности и примеры скриптов для Custom Keyboard Shortcuts
    created: 2011-08-16
    published: True
    categories: Python, Linux
    display_in_list: True
    snip: "В программистской работе всегда есть куча действий, которые мы с завидным постоянством повторяем каждый день. Например, для обновления работающей версии Gearoscope-приложений мне нужно пересобрать gearoscope package + пересобрать sonar package + обновить конфигурацию + перезапустить два демон-процесса. Достаточно много телодвижений, и в процессе работы приходится их повторять частенько. Чтобы упростить себе жизнь я пользуюсь возможностью bind-ить на клавиатуру собственные скрипты (custom keyboard shortcut). Хочу поделится некоторыми деталями реализации подобных удовольствий."
%}

{% block article %}

### Что такое custom shortcut

### Получение sudo-прав

### Логирование действий и уведомления о результатах

### Интерактивные диалоги

### Конкретный пример python-реализации

{% endblock %}

