{% extends '_post.html' %}

{% hyde
    title: Простой способ оценки сбалансированности геймплея
    created: 2011-04-23
    published: True
    categories: Gamedev
%}

{% block article %}
Речь сегодня пойдет об играх, где игроку дают возможность выбирать одну из нескольких рас, или один из нескольих модов, или одну из возможных веток развития и т.д. Очевидно, что для таких игр ключевым пунктом является сбалансированность: сильная раса должна иметь слабые стороны, сильное оружие должно не помогать в каких-то ситуациях.

Меня продолжают удивлять заумные модели, которые придумывают для оценки баланса геймплея: бальные, шкальные взвешанные.... Потом еще придумывают модели оценики адекватности ранее созданных моделей, и на выходе все равно получают достаточно сомнительный результат.

Хотя простое и максмиально гибкое решение лежит на поверности: нужно просто емулировать игру так, чтобы каждый игрок оперировал отдельным варианом (расой, веткой, модом и т.д.). Каждый из таких игроков делает случайных ход (действие). В итоге, количество побед должно иметь равномерное распределение, на каждого игрока должно приходиться приблизительно одинаковая доля. Объяснение здесь очевидно: мы хотим добиться того, чтобы победа любого игрока зависила от его умений, а не от расы, за которую он играть, в таком случае вероятность выиграть у каждой из рас по случайным ходам будет одинаковой на больших измерениях.

Иногда, правда, невозможно определить абсолютно случайную последовательность ходов. В таком случае, если системе известны все возможные следующие ходы - выбираем случайный из совокупности. Если и это невозможно - будем играть по заранее созданной стратегии, но ее параметры выбирать случайно. В общем, выкрутиться всегда можно.

Если где-то получаем перевес - начинаем анализировать логи, пытаясь выяснить за счет чего одна сторона получилась сильнее.

Подобную процедуру легко можно распаралеливать, также она неплохо ложиться в контекст CI.
{% endblock %}

