{% extends '_post.html' %}

{% hyde
    title: Моделирование данных и возможности Redis хранилища
    created: 2011-07-24
    published: True
    categories: Redis, Архитектура, Zend Framework
    display_in_list: True
    snip: "Моя презентация с киевской встречи Zend_Coffee&Code #3."
%}

{% block article %}

Презентация разбита на 2 части:

1. Касается общих подходов к моделированию хранения данных
2. Полностью посвещена возможностям Redis хранилища и кейсам его использования

Текста там мало, только опорные тезисы. Большую часть времени я рассказывал и переодически рисовал на флипчартах.

P.S. Третья часть должна была быть посвящена MongoDB, но из-за нехватки времени обсуждения этого хранилища перенесли на следующую встречу.


{% endblock %}

