{% extends '_post.html' %}

{% hyde
    title: Console Applications with Zend Framework 2.0
    created: 2011-11-14
    published: True
    categories: PHP, Zend Framework
    display_in_list: True
    snip: "Презентация Console applications with Zend Framework 2.0. Слайды, комментарии, благодарности."
%}

{% block article %}

### Презентация

<div style="width:595px" id="__ss_10131716"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/kachayev/console-application-with-zf-20" title="Console application with ZF 2.0" target="_blank">Console application with ZF 2.0</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/10131716" width="595" height="497" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/kachayev" target="_blank">Alex Kachayev</a> </div> </div>

### Вопросы

Короткие ответы на вопросы, которые были заданы мне после презентации, а также в письмах/скайпе:

1. php-cli имеет свой .ini файл конфигурации (``/etc/php5/cli/php.ini``). Используя этот файлы вы можете задавать специфичные для консольных приложений настройки.

2. Консольное приложение на PHP - это в первую очередь приложение на PHP. Поэтому проблемы с производительностью здесь будут ровно такие же, как и в других ваших приложениях. Если вы следуете принципам ``unix way`` и ваши консольные приложения просты, то вы можете "выиграть" в производительности за счет того, что будете "бутстрапить" ограниченное количество ресурсов и модулей.

3. Проблемы с доступом к файловому кешу под разными пользователями, о которых я вскользь упоминал, могут (и должны) решаться через граммотный user management на сервере. Используйте группы, раздавайте права аккуратно и не позволяйте никому лишнего. И будет вам счастье.

4. Инструменты из набора утилит ``Zend\Tool\Project`` будут обновлятся под новые возможности фреймворка, но это будет сделано только после выхода в свет стабильной версии (или хотя бы RC). В общем, в тот момент, когда API будет окончательно устаканен. Все дело в том, что большая часть утилит - кодо- и конфиго- генераторы. Суппортить их изменения параллельно с изменением API никому не интересно.

5. В ветке ZF 1.x для того, чтобы "избавится" от списка ``Zend\Tool\Project`` провайдеров, есть только один путь - скопировать файлы ``bin/zf.sh``, ``bin/zf.php`` и немного подправить. В первом поменять вывод на новый php обработчик, а во втором, соответственно, убрать из загрузки project Manifest.

Это вкратце. Если у вас есть еще вопросы, которые не освещены выше, можете задать их в комментариях.

### Благодарности

Хочу поблагодарить организаторов конференции и докладчиков за отлично проведенное время!

{% endblock %}

