{% extends '_post.html' %}

{% hyde
    title: Что означает "Pythonic way" или как писать не надо
    created: 2011-07-18
    published: True
    categories: Python
    display_in_list: True
    snip: В последнее время, я почти полностью перешел с использования PHP на Python. И так уж случилось, что многие с кем я общаюсь занимаюсь сейчас приблизительно тем же самым. Скорее всего именно поэтому мне приходится почти каждый день видеть "php->python" код (так я называю php-код, который записан python-овским синтаксисом). Подробнее о том, что это такое и почему это плохо, в низлежащей заметке.
%}

{% block article %}
На самом деле, есть большая разница, писать приложения на Python-е, или просто пользоваться python-ом как интерпритатором. Почувствовать ее достаточно сложно, но все же. И я сейчас даже не говорю о каких-то уникальных или редких возможностях этого языка. Я говорю об обычных "повседневных" вещах: конструкциях, типах данных и т.д.

Возьмем конкретный пример. Пусть нам нужна функция `link`, которая обладает следующим поведением:
- принимает в качестве аргументов обязательный параметр с текстом ссылка, href равный по умолчанию #, и неограниченный список других аргументов, которые будут добавлены в HTML нотацию (title, style и т.д.)
- отдает в качестве ответа готовый HTML

Задача абсолютно тривиальная, согласитесь. Посмотрим, как можно ее решить в коде.

    def link(text, href="#", **kwargs):
        s = "<a href='" + href + "'"
        for key in kwargs:
          s += " " + key + "='" + kwargs[key] + "'"
        s += ">" + text + "</a>"
        return s

В общем, то этот код будет работать. Вопрос в другом - это не python. Это php-шный код, написанный с использованием python-овского синтаксиса (если не считать свертки именованных аргументов **kwargs - это специфичная фича).

На Python код будет выглядеть скорее так:

    def link(text, href="#", **kwargs):
        return "<a href='%s' %s>%s</a>" % (
          href,
          ' '.join(["%s='%s'" % (key, value) for key, value in kwargs.iteritems()]),
          text)

Я не берусь утверждать, что это код идеалене. Но он на порядок более "pythonic", чем предыдущий вариант.Сложно выразить что такое pythonic way словами. Как и с unix way, собственно. Его нужно увидеть и осознать. Неплохие материалы по этому поводу:

[What is Pythonic?](http://faassen.n--tree.net/blog/view/weblog/2005/08/06/0)

[Pythonic](http://habrahabr.ru/blogs/python/114731/)

Don't worry. Be pythonic :)

{% endblock %}

