{% extends '_post.html' %}

{% hyde
    title: Воюем за ресурсы: повышение производительности ZF приложения спомощью phpDaemon + Varnish + ESI
    created: 2011-06-01
    published: True
    categories: Архитектура, Zend Framework, инфраструктура
    display_in_list: True
    snip: "Материалы моей презентации с ZFConf 2011 в Петербурге с дополнениями и ремарками (в основном - ответы на вопросы, приходящие ко мне на email и в skype)"
%}

{% block article %}

<div style="width:595px" id="__ss_7995849"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/kachayev/zfconf2011" title="Воюем за ресурсы (ZFConf2011)">Воюем за ресурсы (ZFConf2011)</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/7995849" width="510" height="426" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> </div>

### Тестирование

По мотивам писем, внесу некоторые дополнительные замечания. В частности, по тестированию: если использовать для тестиования Varnish кеширования утилиту нагрузочного тестирования siege - то нужно помнить две несовсем удобных для нас вещи:

1. Varnish не кеширует респонс с заголовком `Set-Cookie`
2. А siege с куками само не работает

Получается, что если вы делаете запросы на свое приложение, - а оно пытается каждый раз передать cookie (например, установить идентификатор сессии) - ничего кешироваться не будет. В таком случае нужно воспользоваться параметрами `-H` (отправка заголовка) и `-g` (трассировка заголовков ответа). Поступаем так:

1. Делаем запрос с параметром `-g` и смотрим, что передается в `Set-Cookie`. Заодно здесь же можем убедится в наличии `Via: Varnish` заголовка.
2. То, что взяли в `Set-Cookie` кидаем в параметр `-H "Cookie: ..."`. Дальше можете отправить еще пару запросов с отладочным `-g` и убедится по заголовкам, что ответ берется из кеша. Далее убираете `-g` и работает в привычном режиме.

### Несколько воркеров демона на одном порте

Для того, чтобы повесить нескольо воркеров phpDaemon на один порт, нужно открыть сокет в неблокирующем режиме. Для этого можно воспользоваться директивой `priveledge` в конфигурационном файле демона.

{% endblock %}

