{% extends '_post.html' %}

{% hyde
    title: Особенности и примеры скриптов для Custom Keyboard Shortcuts
    created: 2011-08-16
    published: True
    categories: Python, Linux
    display_in_list: True
    snip: "В программистской работе всегда есть куча действий, которые мы с завидным постоянством повторяем каждый день. Например, для обновления работающей версии Gearoscope-приложений мне нужно пересобрать gearoscope package + пересобрать sonar package + обновить конфигурацию + перезапустить два демон-процесса. Достаточно много телодвижений, и в процессе работы приходится их повторять частенько. Чтобы упростить себе жизнь я пользуюсь возможностью bind-ить на клавиатуру собственные скрипты (custom keyboard shortcut). Хочу поделится некоторыми деталями реализации подобных удовольствий."
%}

{% block article %}

Intro. Рассказывать буду про Ubuntu, при включенной фантазии легко переносится на другие дистрибутивы.

### Что такое custom shortcut

Custom Keyboard Shortcut - это возможность биндить свои сочетания клавиш на выполнение указанных скриптов. Добраться к этим настройкам не сложно: Applications > Keyboard Shortcuts.

<Screenshot того как выглядит>

Далее я буду описывать некоторые особенности написания скриптов, которые будут а) нормально, б) удобно работать из под этого launcher-а. Чтобы было проще, сразу даю ссылку на gist с python-решением задачи, описанной во вступление (пересборка и перезапуск gearoscope application) - с готовым кодом на руках мне будет легче рассказывать, а вам легче следить за логикой и тонкостям.

Общая логика действий такова:

1. В `home directory` (или где вам удобно) создаем `shortcut.py` скрипт, куда будет добавлять по мере необходимости новые обработчики

2. В `/usr/bin/` делаем symlink `/usr/bin/shortcut` и даем права на исполнение

3. Keyboard Shortcuts задаем в виде `shortcut <command>`

При этом вся "магия" выбора обработчика ложится на следующие строки из gist-а (упрощенно):

    try:
        cmd = getattr(Command, sys.argv[1])
        # ...
        # Command found and can be running...
        # ...
    except IndexError:
        print 'You should provide command name as first argument'
        # Command.ERROR is created to avoid any "magic" contants in code
        # As you can see, this line is more clear than sys.exit(1)
        sys.exit(Command.ERROR)
    except AttributeError:
        print 'Unknown command given'
        sys.exit(Command.ERROR)


<Gist>

### Получение sudo-прав

sudo права нужны достаточно часто, особенно если говорить об установке пакетов. К сожалению, `sudo` не будет работать из под не-консольного launcher, но нам на помощь спешит `gksudo`, который запросит у пользователя пароль в графическом диалоговом окне.

<Screenshot работы gksudo>

И тут можно выделить две ситуации. sudo-права нужны только для одного действия. Тогда можно сделать так:

    os.system('gksudo ...you actions...')

Если же таких действий будет более одного, то запрашивать под каждый пароль будет неразумно, - гораздо проще выполнить запуск скрипта через "глобальный" `gksudo`:

    gksudo shortcut gearoscope

### Логирование действий и уведомления о результатах

С логами я обычно поступаю так: всю информацию вывожу обычным print (это удобно для отладки приложения из консольного режима), а shortcut указываю с перенаправлением потоков STDIN, STDERR в файл лога. Вполне приемлемая, максимально простая в реализации и достаточно гибкая схема.

    shortcut gearoscope 2>&1 >> /tmp/shortcut.gearoscope.log

Но, чтобы уведомить пользователя о результате выполнения скрипта, этого будет недостаточно. Просто потому что пользователь, ничего этого не увидет. Для решения этой проблемы можно воспользоваться пакетом [NotifyOSD](https://wiki.ubuntu.com/NotifyOSD). Пакет имеет просто огромный список возможностей, но нас сейчас интересуют его умения выводить в левый верхний угол всплывающие сообщения (пользователи Ubuntu должны видеть такие сообщения достаточно часто). Пакет используется огромным количеством самых разных приложений, но если он не установлен, то поможет:

    sudo apt-get install notify-osd

Примеры внешнего вида сообщений (и различных встроенных в эти сообщения контролов) можно найти по приведенной выше ссылке. Мы будем пользоваться консольной утилитой notify-send, идущей в составе пакета. Для эксперимента выполните из консоли:

    notify-send 'Codemehanika' 'Short presentation'

О дополнительных возможностях можно узнать из help:

    Usage:
      notify-send [OPTION...] <SUMMARY> [BODY] - create a notification

    Help Options:
      -?, --help                        Show help options

    Application Options:
      -u, --urgency=LEVEL               Specifies the urgency level (low, normal, critical).
      -t, --expire-time=TIME            Specifies the timeout in milliseconds at which to expire the notification.
      -i, --icon=ICON[,ICON...]         Specifies an icon filename or stock icon to display.
      -c, --category=TYPE[,TYPE...]     Specifies the notification category.
      -h, --hint=TYPE:NAME:VALUE        Specifies basic extra data to pass. Valid types are int, double, string and byte.
      -v, --version                     Version of the package.

Больше всего нас здесь интересует возможность добавлять к сообщению иконку и указывать время жизни сообщения.
Для удобства использования в python коде, набросал себе небольшой helper, который помимо всего прочего проверяет наличие notify-send в системе, в противном случае делает fallback на обычный echo. Код реализации вы можете посмотреть в гисте, пример использования:

      Notify(title='Gearoscope',
             icon='/usr/share/icons/gearoscope.png',
             time=5000).send('Succesfully restarted')

<Screenshot сообщения>

### Интерактивные диалоги

Для отображения GTK+ диалогов можно воспользоваться пакетом [zenity](http://manpages.ubuntu.com/manpages/oneiric/man1/zenity.1.html) и python оберткой для реализации основных возможностей - [PyZenity](http://www.brianramos.com/docs/PyZenity/). Очень полезно в случае, если нужно что-то по ходу дела у пользователя уточнить. Например, указать файл для обработки, "переспросить" о том, что делать если не все в сценарии произошло запланировано, показать progress bar выполнения задачи и т.д. Выглядит это так:

<Screenshot диалогов>

Пример кода реализации на python:

<Привести пример кода для промпта и подтверждения>

### Lock повторного вызова

Очень часто возникает необходимость обеспечить то, что запущенный нажатием клавиши процесс будет выполняется в одиночестве. Например, если реализовать пересборку gearoscope то хот кеем очень легко запустить несколько одновременно работающих процессов, которые приведут в итоге к не очень хорошему результату. Чтобы избежать подобных недоразумений, я использую захват lock-а на специальном файле с помощью вот этой небольшой [утилиты](http://www.evanfosmark.com/2009/01/cross-platform-file-locking-support-in-python/) (немного "подпилинной" правда).

    # FileLock class definition you can find following the link above,
    # or in given gist file. Exception class FileLock.Locked is result
    # of small refactoring code from article
    try:
        with FileLock('/tmp/sc.%s.lock' % cmd) as lock:
            # ... here you actions
    except FileLock.Locked:
        print >> sys.stderr, 'Already running'

        # Command.ERROR is created to avoid any "magic" contants in code
        # As you can see, this line is more clear than sys.exit(1)
        sys.exit(Command.ERROR)

### Конкретный пример python-реализации

<Комментарии к гисту>

<Что можно сделать еще>

{% endblock %}

