{% extends '_post.html' %}

{% hyde
    title: Гибкая архитектура Zend Framework приложений сиспользованием Dependency Injection
    created: 2011-06-01
    published: True
    categories: Архитектура, Zend Framework, Code Perfectum
    display_in_list: True
    snip: "Материалы моей презентации с ZFConf 2011 в Петербурге"
%}

{% block article %}

<div style="width:595px" id="__ss_7996085"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/kachayev/di-and-zend-framework-zfconf2011" title="DI and Zend Framework (ZFConf2011)">DI and Zend Framework (ZFConf2011)</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/7996085" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> </div>

{% endblock %}

