{% extends '_post.html' %}

{% hyde
    title: "Tornado server и Django ORM для быстрой отдачи autosuggest"
    created: 2011-06-16
    published: False
    categories: Инфраструктура, Производительность, Python, Django, Tornado
    display_in_list: False
    snip: О том, почему критично важно экономить ресурсы на таких процессах как ajax response для autosuggest поля, я уже писал (и рассказывал). На конференции в Питере, я предложил вариант phpDaemon для демонизации zf приложения. Сегодня напишу о еще одном варианте: Tornado + Django ORM. Для тех, кто уверен, что асинхронные сервера это сложно, скажу заранее - обойдемся 20ю строками кода.
%}

{% block article %}
### 1. Формулировка задачи
### 2. Подготовка инфраструктуры
### 3. Код сервера
### 4. Запуск сервера
### 5. Тесты и подведение итогов
{% endblock %}

