{% extends '_post.html' %}

{% hyde
    title: "Тезисы моих докладов на ZFConf 2011"
    snip: "Короткий обзор 2х докладов, которые я буду делать на конференции по ZF в Петербурге"
    created: 2011-04-21 05:30:22
    categories: 'Zend Framework'
    published: True
%}

{% block article %}

### Доклад о повышении производительности ZF приложений

**Тема**. Воюем за ресурсы: повышение производительности ZF приложения с помощью phpDaemon + Varnish + ESI

**Тезисы**

> Суть описанной в докладе технологии заключается в разгрузке сервера и повышении производительности Zend Framework приложения на основе поблочного кеширования HTML на кеш-сервере с рендерингом указанных блоков с помощью неблокирующих демонов. Подробный разбор реализации на конкретном приложении и реальных проблемах.

1. Вступление. О чем и как мы будем говорить.
2. Изучаем врага. Описание проекта, который мы будем оптимизировать, анализ затрат времени и серверных ресурсов. Схемы с подробными картами боевых действий.
3. Готовим план наступления.
    - кешируем HTML блоками с Varnish + ESI + nginx - подходы, выгоды, проблемы
    - рендеринг блоков на стороне неблокирующего демона - выгоды, подводные камни
    - общая схема будущей победы
4. Наступление. Операция "Varnish"
    - установка, администрирование
    - настраивание связки с nginx
    - ZF helper'ы для работы с кеш-сервером
    - реализация очистки кеша
5. Наступление. Операция "phpDaemon"
    - установка, администрирование
    - подпиливаем ZF приложение для работы под phpDaemon
    - подводные камни: на что нужно обращать внимание в ZF
    - настройка nginx, использование HTTP и FastCGI
5. Празднуем победу: тестирование и анализ полученного результата.
6. Обобщение и подведение итогов.
    - пути дальнейшего развития инфраструктуры (неблокирующий MySQL клиент, частичная инвалидация кеша и др.)
    - класс типичные задач, которые хорошо решаются описанным методом
    - другое


### Доклад о повышении гибкости архитектуры через IOC/DI

**Тема**: Гибкая архитектура Zend Framework приложений с использованием Dependency Injection (Внедрение Зависимостей)

1. Что такое Зависимости и зачем ими управлять:
    - прозрачность
    - гибкость
    - тестируемость
2. Инверсия Контроля (IoC) в теории и на практике: подходы, паттерны, примеры кода
3. Реализация DI в Zend Framework приложении с использованием Symfony DI Container: подробный анализ реального приложения
    - подключение контейнера, описание зависимостей в конфигурациях
    - использование инъекций зависимостей в модели
    - инъекции зависимостей в контроллерах
    - unit-тестирование приложения
4. Что мешает управлять Зависимостями? Обзор антипаттернов IoC:
    - чем плохи синглтоны
    - пара слов о статических классах
5. Что нас ждет в Zend Framework 2.0: немного истории и обзор proposal-ов ServiceLocator и DependencyInjector

### Комментарии и дополнения приветствуются

{% endblock %}

