{% extends '_post.html' %}

{% hyde
    title: Особенности и примеры скриптов для Custom Keyboard Shortcuts
    created: 2011-08-16
    published: True
    categories: Python, Linux
    display_in_list: True
    snip: "В программистской работе всегда есть куча действий, которые мы с завидным постоянством повторяем каждый день. Например, для обновления работающей версии Gearoscope-приложений мне нужно пересобрать gearoscope package + пересобрать sonar package + обновить конфигурацию + перезапустить два демон-процесса. Достаточно много телодвижений, и в процессе работы приходится их повторять частенько. Чтобы упростить себе жизнь я пользуюсь возможностью bind-ить на клавиатуру собственные скрипты (custom keyboard shortcut). Хочу поделится некоторыми деталями реализации подобных удовольствий."
%}

{% block article %}

### Что такое custom shortcut

### Получение sudo-прав

sudo права нужны достаточно часто, особенно если говорить об установке пакетов. К сожалению, `sudo` не будет работать из под не-консольного launcher, но нам на помощь спешит `gksudo`, который запросит у пользователя пароль в графическом диалоговом окне.

<Screenshot работы gksudo>

И тут можно выделить две ситуации. sudo-права нужны только для одного действия. Тогда можно сделать так:

    os.system('gksudo ...you actions...')

Если же таких действий будет более одного, то запрашивать под каждый пароль будет неразумно, - гораздо проще выполнить запуск скрипта через "глобальный" `gksudo`:

    gksudo shortcut.py gearoscope

### Логирование действий и уведомления о результатах

С логами я обычно поступаю так: всю информацию вывожу обычным print (это удобно для отладки приложения из консольного режима), а shortcut указываю с перенаправлением потоков STDIN, STDERR в файл лога. Вполне приемлемая, максимально простая в реализации и достаточно гибкая схема.

    shortcut.py gearoscope 2>&1 >> /tmp/shortcut.gearoscope.log

### Интерактивные диалоги

Для отображения GTK+ диалогов можно воспользоваться пакетом [zenity](http://manpages.ubuntu.com/manpages/oneiric/man1/zenity.1.html) и python оберткой для реализации основных возможностей - [PyZenity](http://www.brianramos.com/docs/PyZenity/). Очень полезно в случае, если нужно что-то по ходу дела у пользователя уточнить. Например, указать файл для обработки, "переспросить" о том, что делать если не все в сценарии произошло запланировано, показать progress bar выполнения задачи и т.д. Выглядит это так:

<Screenshot диалогов>

Пример кода реализации на python:

<Привести пример кода для промпта и подтверждения>

### Lock повторного вызова

Очень часто возникает необходимость обеспечить то, что запущенный нажатием клавиши процесс будет выполняется в одиночестве. Например, если реализовать пересборку gearoscope то хот кеем очень легко запустить несколько одновременно работающих процессов, которые приведут в итоге к не очень хорошему результату. Чтобы избежать подобных недоразумений, я использую захват lock-а на специальном файле с помощью вот этой небольшой [утилиты](http://www.evanfosmark.com/2009/01/cross-platform-file-locking-support-in-python/) (немного "подпилинной" правда).

    # FileLock class definition you can find following the link above,
    # or in given gist file. Exception class FileLock.Locked is result
    # of small refactoring code from article
    try:
        with FileLock('/tmp/sc.%s.lock' % cmd) as lock:
            # ... here you actions
    except FileLock.Locked:
        print >> sys.stderr, 'Already running'

        # Command.ERROR is created to avoid any "magic" contants in code
        # As you can see, this line is more clear than sys.exit(1)
        sys.exit(Command.ERROR)

### Конкретный пример python-реализации

{% endblock %}

