{% extends '_post.html' %}

{% hyde
    title: DDD подход к решению задачи сложной фильтрации данных
    created: 2011-06-01
    published: False
    categories: Архитектура, Практика DDD
    display_in_list: False
    snip: "Эта заметка представляет из себя некую выборку идей и подходов к организации сложной фильтрации и кастомизированного поиска, которые я использую в своем проекте. Пишу по многочисленным просьбам (здесь и здесь). Все подходы описаны на конкретном примере, очень распространенном в практике создания веб-приложений. Приведенный код в большинстве своем является условным и чисто-показательным, но частично изъят из боевых окружения."
%}

{% block article %}
### 1. Постановка задачи

### 2. Любой термин доменной области должен быть выражен явно

### 3. Сбор фильтров в формах и контроллерах

### 4. Использование фильтров на уровне коллекции

### 5. Использование фильтров на уровне репозитория

{% endblock %}

