{% extends "_page.html" %}

{% hyde
    title: "About me"
    created: 2011-04-17 15:25:45
%}

{% block article %}
![Me](/media/images/me.jpg)

Родился 25 декабря 1987 года. В данный момент живу и работаю в г. Киев, Украина. Большую часть своей сознательной жизни занимаюсь программированием.

В работе использую PHP и Zend Framework, для собственных проектов - Python и Django. Интересуюсь Non-SQL хранилищами, облачными архитектурами, понемногу вникаю в AI и game dev. Полный список навыков и технологий можете найти в [моем CV на LinkedIn](http://ua.linkedin.com/in/kachayev).

Развиваю open source библиотеки собственного производства, активный участник русскоязычного Zend Framework community, с недавнего времени присоединился к команде Zend Framework Contributors.

Стараюсь популяризировать git, ubuntu, красивые архитектурные решения (в общем и DDD в частности), Scrum, open source движение и другие хорошие вещи.
{% endblock %}

